<button class="btn btn-success" (click)="addChannel()">Channel hinzufügen</button><br/>
<div class="channel_wrapper" *ngFor="let channel of channels; let i = index">
  <div class="channel clearfix">
    <span *ngIf="!editChannel || activeChannel != i">{{channel}}</span>
    <input *ngIf="editChannel && activeChannel == i" [(ngModel)]="editChannel" />
    <button *ngIf="!editChannel || activeChannel != i" class="btn" (click)="editChannel = channel; activeChannel = i" title="Kanalnamen editieren"><i class="glyphicon glyphicon-pencil"></i></button>
    <button *ngIf="editChannel && activeChannel == i" class="btn btn-success" (click)="overwrite(i); activeChannel = -1" title="Neuen Namen speichern"><i class="glyphicon glyphicon-ok"></i></button>
    <button *ngIf="editChannel && activeChannel == i" class="btn btn-warning" (click)="editChannel = null; activeChannel = -1" title="Zurücksetzen"><i class="glyphicon glyphicon-remove-sign"></i></button>
    <button *ngIf="defaultchannel==channel" class="btn" (click)="removeDefault()" title="Default entfernen"><i class="glyphicon glyphicon-star"></i></button>
    <button *ngIf="defaultchannel!=channel" class="btn" (click)="editDefault(i)" title="Default setzen"><i class="glyphicon glyphicon-star-empty"></i></button>
    <button class="btn btn-danger" (click)="removeChannel(i)" title="Kanal löschen"><i class="glyphicon glyphicon-trash"></i></button>
  </div>
</div>
